div{
    flex-basis:22% ;
    height: 22%;
    background-color: violet;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 44rem;

}

.oneBlock{
    order: 8;
}

.height{
    height:30%;
}

